<% layout('layout/boilerplate') %>
  <h1 class="text-center text-2xl mb-4">Edit Property Information</h1>
  <form id="editPropertyForm" action="/properties/<%= property._id %>?_method=PUT" method="POST"
    class="max-w-4xl mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" enctype="multipart/form-data">

    <input id="deletedImgs" type="text" name="deletedImgs" value="" class="hidden">

    <div class="grid grid-cols-1 md:grid-cols-2">
      <!-- Title -->
      <div class="mb-4 w-full" required>
        <label for="title" class="block text-gray-700 text-sm font-semibold mb-2">Title</label>
        <input type="text" name="property[title]" id="title" minlength="5"
          class="peer shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline valid:border-green-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
          required placeholder="Villa in Banijamra" value="<%= property.title %>">
        <span class="mt-2 hidden text-sm text-red-700 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">Please
          enter a valid title</span>
      </div>

      <!-- Property Type -->
      <div class="mb-4 w-full">
        <label for="propertyType" class="block text-gray-700 text-sm font-semibold mb-2">Property Type</label>
        <select name="property[propertyType]" id="propertyType" placeholder="Villa in Banijamra"
          class="peer shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline  invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
          required>
          <option value="" disabled>Select a type</option>
          <option value="flat" <%=property.propertyType==='flat' ? 'selected' : '' %>>Flat</option>
          <option value="apartment" <%=property.propertyType==='apartment' ? 'selected' : '' %>>Apartment</option>
          <option value="villa" <%=property.propertyType==='villa' ? 'selected' : '' %>>Villa</option>
          <option value="camp" <%=property.propertyType==='camp' ? 'selected' : '' %>>Camp</option>
          <option value="studio" <%=property.propertyType==='studio' ? 'selected' : '' %>>Studio</option>
        </select>
        <span class="mt-2 hidden text-sm text-red-700 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">Please
          select a property type</span>
      </div>

      <!-- Price -->
      <div class="mb-4">
        <label for="price" class="block text-gray-700 text-sm font-semibold mb-2">Price</label>
        <input type="text" name="property[price]" id="price" minlength="1"
          class="peer shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline valid:border-green-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
          required placeholder="1000000" pattern="^[0-9,.]*$"
          value="<%= property.price.replace(' BHD', '').replace('/month', '') %>">
        <span class="mt-2 hidden text-sm text-red-700 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">Please
          enter a valid price</span>
      </div>


      <!-- Listing Type -->
      <div class="mb-4">
        <label for="listingType" class="block text-gray-700 text-sm font-semibold mb-2">Listing Type</label>
        <select name="property[listingType]" id="listingType"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required>
          <option value="" disabled selected>Select listing type</option>
          <option value="sale" <%=property.listingType==='sale' ? 'selected' : '' %>>Sale</option>
          <option value="rent" <%=property.listingType==='rent' ? 'selected' : '' %>>Rent</option>
        </select>
        <span class="mt-2 hidden text-sm text-red-700 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">Please
          Select a valid listing types</span>
      </div>


      <!-- Description -->
      <div class="mb-4 col-span-1 md:col-span-2">
        <label for="description" class="block text-gray-700 text-sm font-semibold mb-2">Description</label>
        <textarea name="property[description]" id="description" rows="3" minlength="1"
          class="peer shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline valid:border-green-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
          required placeholder="Describe the property..."><%= property.description %></textarea>
        <span class="mt-2 hidden text-sm text-red-700 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">Please
          enter a valid description</span>
      </div>

      <div class="mb-4 md:col-span-2">
        <div class="flex justify-between relative">
          <label for="images" class="block text-gray-700 text-sm font-semibold">Upload Images</label>
          <button type="button" class=" bg-opacity-85  h-8 w-8 text-white rounded-full">
            <input multiple id="uploadInput" type="file" name="property[images]" accept="image/jpeg, image/png, image/gif"
            multiple class="absolute inset-0 w-auto h-full opacity-0 cursor-pointer">
            <svg viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#086d14">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <g id="Edit / Add_To_Queue">
                  <path id="Vector"
                    d="M3 9V19.4C3 19.9601 3 20.2399 3.10899 20.4538C3.20487 20.642 3.35774 20.7952 3.5459 20.8911C3.7596 21 4.0395 21 4.59846 21H15.0001M14 13V10M14 10V7M14 10H11M14 10H17M7 13.8002V6.2002C7 5.08009 7 4.51962 7.21799 4.0918C7.40973 3.71547 7.71547 3.40973 8.0918 3.21799C8.51962 3 9.08009 3 10.2002 3H17.8002C18.9203 3 19.4801 3 19.9079 3.21799C20.2842 3.40973 20.5905 3.71547 20.7822 4.0918C21.0002 4.51962 21.0002 5.07969 21.0002 6.19978L21.0002 13.7998C21.0002 14.9199 21.0002 15.48 20.7822 15.9078C20.5905 16.2841 20.2842 16.5905 19.9079 16.7822C19.4805 17 18.9215 17 17.8036 17H10.1969C9.07899 17 8.5192 17 8.0918 16.7822C7.71547 16.5905 7.40973 16.2842 7.21799 15.9079C7 15.4801 7 14.9203 7 13.8002Z"
                    stroke="#00000#086d140" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
              </g>
            </svg> </button>
        </div>
        <div class="flex flex-row overflow-x-auto relative mt-2 space-x-1">
          <% property?.images.forEach((image, index)=> { %>
            <div class="relative w-28 h-28 flex-shrink-0">
              <img src="<%= image.thumbnail1 %>" data-img-name="<%= image.filename %>" alt="Property Image" class="w-full h-full object-cover rounded-md">
              <button type="button" class="absolute top-1 bg-opacity-85 right-1 bg-red-500 text-white rounded-full p-1"
          onclick="removeImage(this)">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
              </button>
            </div>
            <% }) %>
        </div>
            </div>
            <script>
        const deletedImages = document.getElementById('deletedImgs');

        document.getElementById('uploadInput').addEventListener('change', function (e) {
          const files = e.target.files;
          for (let i = 0; i < files.length; i++) {
            if (files[i]) {
              const reader = new FileReader();
              reader.readAsDataURL(files[i]);
              reader.onload = function (e) {
          addImage(e.target.result);
              };
            }
          }
        });

        function removeImage(button) {
          deletedImages.value +=(button.previousElementSibling.getAttribute('data-img-name')) + ','; // Add the image to the deleted images
          button.parentElement.remove();
        }

        function addImage(src) {
          const imageContainer = document.querySelector('.flex.flex-row.overflow-x-auto.relative.mt-2');
          if (imageContainer) {
            const newImage = document.createElement('div');
            newImage.classList.add('relative', 'w-28', 'h-28', 'mr-2', 'flex-shrink-0');
            newImage.innerHTML = `
              <img src="${src}" alt="Property Image" class="w-full h-full object-cover rounded-md">
          <button type="button" class="absolute top-1 bg-opacity-85 right-1 bg-red-500 text-white rounded-full p-1"
            onclick="removeImage(this)">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
            `;
            imageContainer.appendChild(newImage);
          }
        }
            </script>
    
      <!-- Bedrooms -->
      <div class="mb-4">
        <label for="bedrooms" class="block text-gray-700 text-sm font-semibold mb-2">Bedrooms</label>
        <input type="text" name="property[bedrooms]" id="bedrooms" minlength="1"
          class="peer shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline valid:border-green-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
          required placeholder="3" pattern="^[0-9]*$" value="<%= property.bedrooms %>">
        <span class="mt-2 hidden text-sm text-red-700 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">Please
          enter a valid number of bedrooms</span>
      </div>

      <!-- Bathrooms -->
      <div class="mb-4">
        <label for="bathrooms" class="block text-gray-700 text-sm font-semibold mb-2">Bathrooms</label>
        <input type="text" name="property[bathrooms]" id="bathrooms" minlength="1"
          class="peer shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline valid:border-green-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
          required placeholder="8" pattern="^[0-9]*$" value="<%= property.bathrooms %>">
        <span class="mt-2 hidden text-sm text-red-700 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">Please
          enter a valid number of bathrooms</span>
      </div>

      <!-- Halls -->
      <div class="mb-4">
        <label for="halls" class="block text-gray-700 text-sm font-semibold mb-2">Halls</label>
        <input type="text" name="property[halls]" id="halls" minlength="1"
          class="peer shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline valid:border-green-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
          required placeholder="1" pattern="^[0-9]*$" value="<%= property.halls %>">
        <span class="mt-2 hidden text-sm text-red-700 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">Please
          enter a valid number of halls</span>
      </div>

      <!-- Area in Sqft -->
      <div class="mb-4">
        <label for="areaInSqft" class="block text-gray-700 text-sm font-semibold mb-2">Area (Sqft)</label>
        <input type="text" name="property[areaInSqft]" id="areaInSqft" minlength="1"
          class="peer shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline valid:border-green-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
          required placeholder="2000" pattern="^\d+(\.\d+)?$" value="<%= property.areaInSqft %>">
        <span class="mt-2 hidden text-sm text-red-700 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">Please
          enter a valid area in sqft</span>
      </div>

      <!-- Garages -->
      <div class="mb-4">
        <label for="garages" class="block text-gray-700 text-sm font-semibold mb-2">Garages</label>
        <input type="text" name="property[garages]" id="garages" minlength="1"
          class="peer shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline valid:border-green-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
          required placeholder="2" pattern="^[0-9]*$" value="<%= property.garages %>">
        <span class="mt-2 hidden text-sm text-red-700 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">Please
          enter a valid number of garages</span>
      </div>
      <!-- Built-up Area -->
      <div class="mb-4">
        <label for="builtupArea" class="block text-gray-700 text-sm font-semibold mb-2">Built-up Area</label>
        <input type="text" name="property[builtupArea]" id="builtupArea" minlength="1"
          class="peer shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline valid:border-green-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
          required placeholder="220" pattern="^\d+(\.\d+)?$" value="<%= property.builtupArea %>">
        <span class="mt-2 hidden text-sm text-red-700 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">Please
          enter a valid number</span>
      </div>

      <!-- Number of Floors -->
      <div class="mb-4">
        <label for="noOfFloors" class="block text-gray-700 text-sm font-semibold mb-2">Number of Floors</label>
        <input type="text" name="property[noOfFloors]" id="noOfFloors" minlength="1"
          class="peer shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline valid:border-green-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
          required pattern="^[0-9]*$" placeholder="3" value="<%= property.noOfFloors %>">
        <span class="mt-2 hidden text-sm text-red-700
          peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
          Please enter a valid number of roads
        </span>
      </div>

      <!-- Number of Roads -->
      <div class="mb-4">
        <label for="noOfRoads" class="block text-gray-700 text-sm font-semibold mb-2">Number of Roads</label>
        <input type="text" name="property[noOfRoads]" id="noOfRoads" minlength="1"
          class="peer shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline valid:border-green-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
          required placeholder="1" pattern="^[0-9]*$" value="<%= property.noOfRoads %>">
        <span class="mt-2 hidden text-sm text-red-700 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">Please
          enter a valid number of roads</span>
      </div>

      <!-- Location -->
      <div class="mb-4">
        <label for="location" class="block text-gray-700 text-sm font-semibold mb-2">Location</label>
        <input type="text" name="property[location]" id="location" minlength="1"
          class="peer shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline valid:border-green-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
          required placeholder="Banijamra" value="<%= property.location %>">
        <span class="mt-2 hidden text-sm text-red-700 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">Please
          enter a valid location</span>
      </div>

      <!-- Classification -->
      <div class="mb-4">
        <label for="classification" class="block text-gray-700 text-sm font-semibold mb-2">Classification</label>
        <input type="text" name="property[classification]" id="classification" minlength="1"
          class="peer shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline valid:border-green-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
          required placeholder="RB" value="<%= property.classification %>">
        <span class="mt-2 hidden text-sm text-red-700 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">Please
          enter a valid classification</span>
      </div>


      <!-- Contact -->
      <div class="mb-4">
        <label for="contact" class="block text-gray-700 text-sm font-semibold mb-2">Contact</label>
        <div class="relative flex flex-nowrap items-stretch shadow">
          <span
            class="bg-gray-200 text-sm text-gray-700 font-semibold flex items-center whitespace-nowrap rounded-s border border-e-0 border-solid border-neutral-200 px-3 py-[0.25rem] text-center leading-tight"
            id="addon-wrapping">+973</span>
          <input type="text" name="property[contact]" id="contact" minlength="8"
            class="peer relative block flex-auto rounded-e appearance-none border w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-0 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
            placeholder="38820989" aria-label="contact" aria-describedby="addon-wrapping" required pattern="^[0-9]{8}$"
            value="<%= property.contact.replace('+973','') %>" />
        </div>

        <!-- Validation message -->
        <span class="mt-2 hidden text-sm text-red-700 peer-invalid:block peer-invalid:visible">Please enter a valid
          contact number</span>
      </div>

      <!-- Property Usage -->
      <div class="mb-4">
        <label for="propertyUsage" class="block text-gray-700 text-sm font-semibold mb-2">Property Usage</label>
        <input type="text" name="property[propertyUsage]" id="propertyUsage" minlength="1"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
          required placeholder="Resedential" value="<%= property.propertyUsage %>">
        <span class="mt-2 hidden text-sm text-red-700 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">Please
          enter a valid property usage (e.g. Resedential)</span>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="mt-4">
      <button type="submit" id="editPropertyButton"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline peer-invalid:pointer-events-none peer-invalid:opacity-50">
        Submit
      </button>
    </div>

    <div class="mt-4">
      <a href="/properties/<%= property._id %>"
        class="inline-block align-baseline font-semibold text-sm text-blue-500 hover:text-blue-800">
        Back to property
      </a>
    </div>

  </form>

  <script src="/js/registerPageValidation.js"></script>