<%- layout('layout/boilerplate') %>
  <div class="flex flex-col max-w-screen-lg items-center mx-auto justify-center md:px-4 relative">
    <div class="flex flex-col md:rounded-lg justify-center items-start min-w-full">


      <div class="flex flex-col md:flex-row w-full md:space-x-2">
        <div class="w-full <%= property.images.length >= 3 ? 'md:w-2/3' : 'md:w-full' %> relative">
          <div class="aspect-w-[1.5] aspect-h-1 overflow-hidden md:rounded-lg">
            <% property.images.forEach((image, index)=> { %>
              <img id="image<%= index %>" src="<%= image?.url %>" alt="<%= property.title %>"
                class="<%= index === 0 ? '' : 'hidden' %> transition-all duration-500 object-cover object-center w-full h-full" />
              <% }) %>
          </div>

          <div class="<%= property.images.length >= 2 ? 'block' : 'hidden' %>">
            <!-- Navigation Arrows -->
            <span id="prev"
              class="flex items-center justify-center absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-300 bg-opacity-80 rounded-full w-9 h-9 p-2 cursor-pointer text-lg font-bold">←</span>
            <span id="next"
              class="flex items-center justify-center absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-300 bg-opacity-80 rounded-full w-9 h-9 p-2 cursor-pointer text-lg font-bold">→</span>

            <!-- Indicators -->
            <div
              class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2 bg-black bg-opacity-30 opacity-85 py-[5px] px-2 rounded-full">
              <% property.images.forEach((image, index)=> { %>
                <span id="indicator<%= index %>"
                  class="block w-3 h-3 <%= index === 0 ? 'bg-white' : 'bg-gray-400' %> rounded-full cursor-pointer"></span>
                <% }) %>
            </div>
          </div>

        </div>

        <div class="hidden md:w-1/3  flex-col <%= property.images.length >= 3 ? 'md:flex' : 'md:hidden' %>">
          <div class="aspect-w-[1.5] aspect-h-1">
            <img src="<%= property?.images[1]?.url %>" alt="<%= property.title %>"
              class="object-cover object-center w-full h-full  md:rounded-none" />
          </div>
          <div class="aspect-w-[1.5] aspect-h-1">
            <img src="<%= property?.images[2]?.url %>" alt="<%= property.title %>"
              class="object-cover object-center w-full h-full md:rounded-none" />
          </div>
        </div>
      </div>

      <section class="flex flex-col flex-grow w-full relative p-3"> <!-- after images -->
        <div class="flex w-full justify-between items-center mb-1 truncate">
          <h1 class="text-2xl font-bold truncate w-auto">
            <%= property.title %>
          </h1>
          <!-- Edit and Delete icons -->
          <% if (property && property.author.equals(currentUser?._id)) {%>
            <div class="self-start flex space-x-1 items-center justify-center text-gray-500">
              <div class=" hover:bg-gray-200 rounded-full p-1 cursor-pointer">
                <a href="/properties/<%= property.id %>/edit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M20.1497 7.93997L8.27971 19.81C7.21971 20.88 4.04971 21.3699 3.27971 20.6599C2.50971 19.9499 3.06969 16.78 4.12969 15.71L15.9997 3.84C16.5478 3.31801 17.2783 3.03097 18.0351 3.04019C18.7919 3.04942 19.5151 3.35418 20.0503 3.88938C20.5855 4.42457 20.8903 5.14781 20.8995 5.90463C20.9088 6.66146 20.6217 7.39189 20.0997 7.93997H20.1497Z"
                      stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M21 21H12" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
              <div class=" hover:bg-gray-200 rounded-full p-1 cursor-pointer">
                <form action="/properties/<%= property.id %>?_method=DELETE" method="POST"
                  class="max-w-[25px] max-h-[25px]">
                  <button class="m-0 p-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"
                      class="flex-shrink-0">
                      <path stroke="#991B1B"
                        d="M10 12L14 16M14 12L10 16M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6"
                        stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </button>
                </form>
              </div>
            </div>
            <% } %>
        </div>

        <div class="text-green-800 text-lg font-semibold mb-2">
          <p>
            <%= property.price %>
          </p>
        </div>

        <!-- Location -->
        <div class="flex items-center space-x-1 text-gray-600 mb-2">
          <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M12 10c-1.104 0-2-.896-2-2s.896-2 2-2 2 .896 2 2-.896 2-2 2m0-5c-1.657 0-3 1.343-3 3s1.343 3 3 3 3-1.343 3-3-1.343-3-3-3m-7 2.602c0-3.517 3.271-6.602 7-6.602s7 3.085 7 6.602c0 3.455-2.563 7.543-7 14.527-4.489-7.073-7-11.072-7-14.527m7-7.602c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602" />
          </svg>
          <p class="text-gray-600">
            <%= property.location %>
          </p>
        </div>

        <!-- Mid-size devices -->
        <%- include('../partials/lgDevicesShowPage') %>

          <!-- Small-size devices -->
          <%- include('../partials/smDevicesShowPage') %>
            <hr class="w-full bg-gray-200 h-px border-0 mt-5">

            <section
              class="flex relative flex-col md:flex-row w-full my-3 items-center justify-between space-y-8 md:space-y-0 space-x-2 ">
              <% if (property.description) { %>
                <div class="w-full md:w-8/12 place-self-start">
                  <p class="property-description text-sm text-gray-600 w-full">
                    <%= property.description %>
                     
                  </p>
                    <% if (property.description.length > 200) { %>
                    <span class="text-sm text-blue-800 cursor-pointer"
                      onclick="this.previousElementSibling.classList.remove('property-description'); this.classList.add('hidden')">Show
                      more ...</span>
                    <% } %>
                </div>

                <% } else { %>
                  <p class="text-sm text-gray-600 mb-4 mt-2">
                    No description available.
                  </p>
                  <% } %>

                    <div class="flex flex-col items-center md:h-full space-y-3 justify-between ">
                      <div id="map" style="width:350px; height:200px;" class="rounded-md"
                        lon="<%= property?.geoJSON?.geometry?.coordinates[0]%>"
                        lan="<%= property?.geoJSON?.geometry?.coordinates[1]%>"></div>
                      <div
                        class=" shadow-md bg-slate-50 flex flex-row space-x-3 items-center justify-center sticky top-0 space-y-2 border-black border rounded-md px-5 py-7 w-full">
                        <img class="w-24 h-24 rounded-full object-cover md:mr-2"
                          src="<%= property?.author?.profilePicture?.url %>" alt="Author's Image">
                        <div class="flex flex-col md:justify-center items-center">
                          <span class="text-gray-700 text-lg font-semibold md:text-center mb-3">
                            <%= property.author.fullName %>
                          </span>
                          <a href="https://wa.me/<%= property.author.phoneNumber %>" target="_blank"
                            class="text-blue-500 hover:underline md:text-center">
                            Contact via WhatsApp
                          </a>
                          <a href="mailto:<%= property.author.email %>"
                            class="text-blue-500 hover:underline md:text-center">
                            Contact via Email
                          </a>
                        </div>

                      </div>
                      <span class="text-sm text-opacity-80 text-start">Posted at <%= new Date(property.postDate).toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %></span>
                    </div>

            </section>


            <!-- Inquiry Form -->
            <% if (property && !property.author.equals(currentUser?._id)) { %>
              <section id="send-inquiry-section" class="w-full mt-8 p-4 bg-white rounded-lg shadow-md border">
                <label for="inquiryForm" class="block text-lg font-semibold text-gray-700 mb-4">Have an inquiry? Contact
                  the
                  seller</label>
                <% if (!currentUser) { %>
                  <%- include('../partials/guestInquiryForm') %>
                    <% } else { %>
                      <%- include('../partials/authedInquiryForm') %>
                        <% } %>
              </section>
              <% } else { %>
                <section id="view-inquiries-section">
                  <% for (inq of property.inquiries) { %>
                    <div class="w-full mt-8 p-6 bg-white rounded-lg shadow-lg border border-gray-200 relative">
                      <div class="flex justify-between items-center mb-4">
                        <div class="flex gap-x-1 items-center">
                          <h2 class="text-xl font-bold text-gray-800">
                            <%= inq.title %>
                          </h2>
                          <form action="/properties/<%= property.id %>/inquiry/<%=inq._id%>?_method=DELETE"
                            method="POST" class="max-w-[20px] max-h-[20px]">
                            <button class="m-0 p-0">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 22 22"
                                fill="none" class="flex-shrink-0">
                                <path stroke="#991B1B"
                                  d="M10 12L14 16M14 12L10 16M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6"
                                  stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                              </svg>
                            </button>
                          </form>
                        </div>

                        <span class="text-sm text-gray-500">
                          <%= new Date(inq.createdAt).toLocaleString('en-US') %>
                        </span>
                      </div>
                      <div class="mb-4">
                        <p class="text-gray-700"><span class="font-semibold">From: </span>
                          <%= inq.fullName %>
                        </p>
                        <p class="text-gray-700"><span class="font-semibold">Phone: </span>
                          <%= inq.phoneNumber %>
                        </p>
                        <p class="text-gray-700"><span class="font-semibold">Email: </span>
                          <%= inq.email %>
                        </p>
                      </div>
                      <p class="text-gray-600 property-description">
                        <%= inq.body %>
                      </p>
                      <span class="text-sm  text-blue-800 cursor-pointer"
                        onclick="this.previousElementSibling.classList.remove('property-description'); this.classList.add('hidden')">Show
                        more ...</span>
                    </div>
                    <% } %>
                      <% } %>
                </section>

      </section>
    </div>



    <div id="inquiryOverlay" class="hidden fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm z-40"></div>
    <div id="inquiryStatusDisplay"
      class="hidden z-50 fixed w-9/12 md:w-auto top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-lg bg-white text-center text-surface shadow-secondary-1 transition-opacity duration-200 opacity-0">
      <div class="p-6">
        <h5 class="mb-2 text-lg font-medium leading-tight text-green-700">
          Your inquiry is sent successfully
        </h5>
      </div>
      <div class="border-t-2 border-neutral-100 px-6 py-3 text-surface/75 dark:border-white/10 dark:text-neutral-300">
        <%= Date(Date.now()).toLocaleString() %>
      </div>
    </div>



  </div>

  <script>
    (() => {
      const params = (new URL(window.location.href)).searchParams;
      const sct = params.get('sct');
      if (sct) {
        const block = document.getElementById(sct);
        if (block) {
          setTimeout(() => {
            block.scrollIntoView({ behavior: 'smooth'});
          }, 25);
        }
      }
    })();
  </script>
    <script>
    maptilersdk.config.apiKey = 'bz3D5d4NTiyJpnL73eIG';
    let lon = parseFloat(document.getElementById('map').getAttribute('lon'));
    let lan = parseFloat(document.getElementById('map').getAttribute('lan'))
    const map = new maptilersdk.Map({
      container: 'map', // container's id or the HTML element to render the map
      style: maptilersdk.MapStyle.streets,
      center: [lon, lan], // starting position [lng, lat]
      zoom: 13, // starting zoom
    });
    maptilersdk.setRTLTextPlugin(
      'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.2.3/mapbox-gl-rtl-text.js',
      null,
      true // Lazy load the plugin
    );
    const marker = new maptilersdk.Marker({ color: 'green' })
      .setLngLat([lon, lan])
      .addTo(map);
  </script>

  <script src="../../js/showPage.js"></script>