<%- layout('layout/boilerplate') %>
  <div class="flex flex-col max-w-screen-lg items-center mx-auto justify-center md:px-4 relative">
    <div class="flex flex-col md:rounded-lg justify-center items-start min-w-full">

      <div class="flex flex-col md:flex-row w-full md:space-x-2">
        <div class="w-full <%= property.images.length >= 3 ? 'md:w-2/3' : 'md:w-full' %> relative">
          <div class="aspect-w-[1.5] aspect-h-1 overflow-hidden md:rounded-lg">
            <% property.images.forEach((image, index)=> {  %>
              <img id="image<%= index %>" src="<%= image?.url %>" alt="<%= property.title %>"
                class="<%= index === 0 ? '' : 'hidden' %> transition-all duration-500 object-cover object-center w-full h-full" />
              <% }) %>
          </div>

          <div class="<%= property.images.length >= 2 ? 'block' : 'hidden' %>">
            <!-- Navigation Arrows -->
            <span id="prev"
              class="flex items-center justify-center absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-300 bg-opacity-80 rounded-full w-9 h-9 p-2 cursor-pointer text-lg font-bold">←</span>
            <span id="next"
              class="flex items-center justify-center absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-300 bg-opacity-80 rounded-full w-9 h-9 p-2 cursor-pointer text-lg font-bold">→</span>

            <!-- Indicators -->
            <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2 bg-black bg-opacity-30 opacity-85 py-[5px] px-2 rounded-full">
              <% property.images.forEach((image, index)=> { %>
                <span id="indicator<%= index %>"
                  class="block w-3 h-3 <%= index === 0 ? 'bg-white' : 'bg-gray-400' %> rounded-full cursor-pointer"></span>
                <% }) %>
            </div>
          </div>

        </div>

        <div class="hidden md:w-1/3  flex-col <%= property.images.length >= 3 ? 'md:flex' : 'md:hidden' %>">
          <div class="aspect-w-[1.5] aspect-h-1">
            <img src="<%= property?.images[1]?.url %>" alt="<%= property.title %>"
              class="object-cover object-center w-full h-full  md:rounded-none" />
          </div>
          <div class="aspect-w-[1.5] aspect-h-1">
            <img src="<%= property?.images[2]?.url %>" alt="<%= property.title %>"
              class="object-cover object-center w-full h-full md:rounded-none" />
          </div>
        </div>
      </div>

      <section class="flex flex-col flex-grow w-full relative p-3"> <!-- after images -->
        <div class="flex w-full justify-between items-center mb-1 truncate">
          <h1 class="text-2xl font-bold truncate w-auto">
            <%= property.title %>
          </h1>
          <!-- Edit and Delete icons -->
          <% if (property && property.author.equals(currentUser?._id)) {%>
            <div class="self-start flex space-x-1 items-center justify-center text-gray-500">
              <div class=" hover:bg-gray-200 rounded-full p-1 cursor-pointer">
                <a href="/properties/<%= property.id %>/edit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M20.1497 7.93997L8.27971 19.81C7.21971 20.88 4.04971 21.3699 3.27971 20.6599C2.50971 19.9499 3.06969 16.78 4.12969 15.71L15.9997 3.84C16.5478 3.31801 17.2783 3.03097 18.0351 3.04019C18.7919 3.04942 19.5151 3.35418 20.0503 3.88938C20.5855 4.42457 20.8903 5.14781 20.8995 5.90463C20.9088 6.66146 20.6217 7.39189 20.0997 7.93997H20.1497Z"
                      stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M21 21H12" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
              <div class=" hover:bg-gray-200 rounded-full p-1 cursor-pointer">
                <form action="/properties/<%= property.id %>?_method=DELETE" method="POST"
                  class="max-w-[25px] max-h-[25px]">
                  <button class="m-0 p-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"
                      class="flex-shrink-0">
                      <path stroke="#991B1B"
                        d="M10 12L14 16M14 12L10 16M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6"
                        stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </button>
                </form>
              </div>
            </div>
            <% }%>
        </div>

        <div class="text-green-800 text-lg font-semibold mb-2">
          <p>
            <%= property.price %>
          </p>
        </div>

        <!-- Location -->
        <div class="flex items-center space-x-1 text-gray-600 mb-2">
          <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M12 10c-1.104 0-2-.896-2-2s.896-2 2-2 2 .896 2 2-.896 2-2 2m0-5c-1.657 0-3 1.343-3 3s1.343 3 3 3 3-1.343 3-3-1.343-3-3-3m-7 2.602c0-3.517 3.271-6.602 7-6.602s7 3.085 7 6.602c0 3.455-2.563 7.543-7 14.527-4.489-7.073-7-11.072-7-14.527m7-7.602c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602" />
          </svg>
          <p class="text-gray-600">
            <%= property.location %>
          </p>
        </div>

        <!-- Mid-size devices -->
        <%- include('../partials/lgDevicesShowPage') %>

        <!-- Small-size devices -->
        <%- include('../partials/smDevicesShowPage') %>
        <hr class="w-full bg-gray-200 h-px border-0 mt-5">

        <section class="flex flex-col md:flex-row w-full my-3 items-start justify-between space-y-8 md:space-y-0 space-x-1 ">
          <% if (property.description) { %>
            <p class="text-sm text-gray-600 w-full md:w-8/12">
              <%= property.description %>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, ipsa illum, blanditiis ea deleniti temporibus delectus animi nostrum sed voluptates harum, doloremque rem asperiores totam qui porro aperiam non ullam numquam exercitationem. Quasi ducimus maiores nemo est dolore eligendi ex tenetur veritatis fuga, nulla ipsa minus nihil reprehenderit pariatur at magnam in minima, quas unde doloremque consequatur dolorum cum quaerat! Quaerat, expedita libero laborum adipisci, eos, pariatur est commodi illum culpa vitae ipsum accusamus doloribus alias tenetur architecto molestiae eius. Sapiente, possimus? Quasi assumenda blanditiis exercitationem, velit aspernatur consequuntur mollitia ipsum rerum nulla eum est pariatur necessitatibus illum corrupti. Optio voluptatem quo pariatur maiores delectus neque impedit consequatur, suscipit aliquid fuga, error necessitatibus, facere saepe doloribus ex quod. Distinctio dolores cumque debitis beatae labore, harum nesciunt? Aspernatur soluta nesciunt, illo consequuntur cum labore quasi debitis impedit est dolore neque. In optio quas delectus doloremque nulla animi quibusdam soluta. Velit assumenda nam voluptates sapiente veniam vel pariatur, veritatis magnam fuga voluptatum porro doloremque omnis quasi reiciendis aspernatur id, ducimus sint incidunt laboriosam amet, facere ipsa corporis eum! Quaerat aliquid voluptas quod corrupti amet repellendus dolor animi fugiat ratione, fuga, eaque aperiam sequi beatae magni doloribus veniam quia, eligendi qui? At, maiores aperiam quae voluptas molestiae similique earum dolorem accusamus quaerat quisquam asperiores quidem, labore iste quas facere enim? Necessitatibus impedit vero nemo possimus harum ipsam! Accusantium eius iusto dolorem voluptatem inventore animi recusandae officiis adipisci, nulla, quod provident nam eos voluptatum. Officia possimus dolore harum ratione porro natus neque, et blanditiis, ipsam enim quod corrupti eaque sequi tenetur deleniti, omnis exercitationem. Rerum reprehenderit eius eaque quaerat neque, cumque vel! Cum hic et, totam, voluptatem recusandae sequi, aliquid modi dolorem quidem soluta neque ipsam molestias. Sint architecto quos libero sequi culpa! Accusantium laborum suscipit fuga neque sunt aliquid, doloribus inventore quo impedit non praesentium ab nostrum iste quisquam adipisci ducimus provident. Nam, ullam veritatis accusamus nostrum voluptates iure assumenda explicabo fugit sit excepturi voluptatem optio deleniti facilis, at voluptate molestiae officia illum molestias. Autem dolor cum fugiat ab minima esse voluptates earum? Dolores, impedit delectus, id eos debitis unde omnis dolorem hic repudiandae doloribus expedita quod exercitationem commodi atque ducimus culpa nulla necessitatibus ipsa nemo quo eum libero labore quaerat! Accusantium id quasi laboriosam? Nostrum, doloribus blanditiis? Error, dolor ab, debitis voluptas consectetur voluptatibus cupiditate aperiam reprehenderit impedit, repellendus atque est quibusdam. Porro sint eos facilis nostrum, sed cupiditate suscipit excepturi veritatis libero animi, error corrupti cumque hic sapiente qui rerum molestias maxime quisquam recusandae ratione tempora nulla. Sed fugit quibusdam aut repellendus earum corporis impedit. Accusamus beatae incidunt soluta ipsa iste cupiditate minus voluptates distinctio, facilis, unde velit amet totam nulla qui fuga cumque omnis itaque ducimus? Itaque deserunt eveniet fuga? Fuga blanditiis necessitatibus repudiandae ut corporis, deserunt dignissimos maiores facere accusamus aliquam, sint sit eligendi consectetur quos illo id quas aliquid cumque ducimus voluptate quia error. Officiis molestias vel ex enim, provident, adipisci quas libero praesentium, qui laudantium itaque odit? Labore deleniti quisquam facere doloribus incidunt repudiandae obcaecati soluta! Provident dolore veniam architecto vel expedita blanditiis? Accusamus perferendis rerum, non officiis delectus repudiandae? Doloremque officiis consequatur omnis, deleniti, voluptas, non beatae magnam quae optio a nam! Tenetur neque similique quia alias vero consectetur repellat est deleniti itaque culpa, dolorum repellendus dignissimos inventore, aliquid, praesentium fugiat. Ratione aperiam quam quis consequatur laborum? Nisi eligendi quas, ad blanditiis exercitationem est quibusdam beatae reprehenderit facere quam sed animi molestias voluptatum officiis excepturi ipsam sapiente culpa vel delectus impedit aut, laboriosam maxime. Eius dignissimos pariatur itaque tenetur deserunt placeat natus architecto temporibus mollitia quasi excepturi, accusamus, debitis minus est tempora nihil reprehenderit. Reiciendis a commodi adipisci quidem, harum et vel accusantium consectetur. Dolore ratione dolorum perferendis fugit maiores rerum, vero voluptatibus! Voluptatibus nostrum velit ipsam corrupti quas pariatur quos nisi nemo! Illo ullam id numquam mollitia dolores dolor iure laboriosam distinctio non doloribus perferendis incidunt quasi, alias dolorem voluptas accusantium vel iste. Dolorum, architecto? Consequuntur delectus ducimus unde reiciendis odio nihil placeat, sint voluptate. Perferendis, quod. Necessitatibus autem voluptatibus optio soluta quibusdam ullam tempora sequi accusantium nobis! Voluptatum cumque nihil beatae hic atque molestias ab tenetur! Ex rerum, facere ipsum eaque beatae iste dolorem maiores, delectus neque fugit quo similique illo, inventore enim excepturi error. Quis doloremque consectetur laboriosam veritatis, enim sit deserunt consequuntur ducimus iste possimus qui, totam repellat nesciunt. Officia commodi eveniet sunt possimus itaque inventore provident autem eum nostrum aspernatur facilis, eligendi quia aliquam, aliquid fugiat recusandae similique! A reiciendis fugit cum animi vel impedit consequuntur magni omnis cumque, voluptate harum hic obcaecati tempore minima autem nisi repellendus maiores non quas voluptatum quis placeat quae? Maxime velit atque incidunt vel! Repellat explicabo odit nostrum, sapiente quibusdam facilis? Sunt alias voluptates voluptatibus quis nesciunt ipsum ducimus sequi libero magnam modi molestias odit, necessitatibus distinctio, natus deserunt. Minima ea dolore at qui ipsam velit rerum, praesentium, accusantium quisquam nisi perferendis sapiente. Rerum esse distinctio, vero quidem officiis nulla, quae labore delectus porro quod cum optio suscipit maxime excepturi ab repudiandae illo, neque explicabo facere eius? Molestiae dolores dolor nulla sint aperiam labore officia dolorem cum, omnis excepturi. Aspernatur veritatis blanditiis neque perferendis praesentium est, ullam hic doloremque at, laudantium, nihil molestias fugit debitis possimus minima adipisci porro quo nobis! Repellendus reiciendis, tenetur ea tempore unde possimus et quibusdam hic, esse dolore velit accusantium debitis, expedita sit architecto nam doloribus temporibus explicabo doloremque quod itaque? Quidem sed reprehenderit libero nulla. Quos quae quis ut atque optio nisi dignissimos consequatur saepe, nihil veritatis animi expedita consectetur nesciunt, repudiandae autem non itaque repellat eveniet rerum quod mollitia! Laborum quis maxime nobis corporis quam iusto corrupti culpa enim sed iste placeat ipsa voluptate ad repudiandae eaque id temporibus tenetur velit ipsum, voluptas eius esse beatae omnis. Dolor neque obcaecati provident deleniti labore nemo numquam esse iusto laudantium delectus ad, explicabo repellat sit accusantium beatae. Ipsum laboriosam cupiditate quam? Velit recusandae expedita ipsam voluptatum, rerum minus et deleniti facilis dolores quam itaque, corrupti iure doloribus pariatur eaque eum. Dignissimos eaque labore officia explicabo quaerat, maiores blanditiis libero!
            </p>
            <% } else { %>
              <p class="text-sm text-gray-600 mb-4 mt-2">
                No description available.
              </p>
              <% } %>

                <div
                  class="place-self-center md:place-self-start shadow-md bg-slate-50 flex flex-row md:flex-col space-x-6 md:space-x-0 items-center justify-center md:justify-start sticky bottom-3 md:top-20 space-y-2 border-black border rounded-md px-5 py-7 w-full md:w-auto">
                  <img class="w-[6rem] h-[6rem] rounded-full" src="https://picsum.photos/seed/author/1280/720"
                    alt="Author's Image">
                    <div class="flex flex-col md:justify-center items-center">
                      <span class="text-gray-700 text-lg font-semibold md:text-center mb-3">
                        <%= property.author.fullName %>
                      </span>
                      <a href="https://wa.me/<%= property.author.phoneNumber %>" target="_blank"
                        class="text-blue-500 hover:underline md:text-center">
                        Contact via WhatsApp
                      </a>
                      <a href="mailto:<%= property.author.email %>" class="text-blue-500 hover:underline md:text-center">
                        Contact via Email
                      </a>
                    </div>
                  
                </div>
        </section>


        <!-- Inquiry Form -->
        <section class="w-full mt-8 p-4 bg-white rounded-lg shadow-md border">
          <label for="inquiryForm" class="block text-lg font-semibold text-gray-700 mb-4">Have an inquiry? Contact the
            seller</label>
            <% if (!currentUser) { %>
              <%- include('../partials/guestInquiryForm') %>
            <% } else { %>
              <%- include('../partials/authedInquiryForm') %>
            <% } %>
        </section>


      </section>
    </div>



    <div id="inquiryOverlay" class="hidden fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm z-40"></div>
    <div id="inquiryStatusDisplay"
      class="hidden z-50 fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-lg bg-white text-center text-surface shadow-secondary-1 transition-opacity duration-200 opacity-0">
      <div class="p-6">
        <h5 class="mb-2 text-lg font-medium leading-tight text-green-700">
          Your inquiry is sent successfully
        </h5>
      </div>
      <div class="border-t-2 border-neutral-100 px-6 py-3 text-surface/75 dark:border-white/10 dark:text-neutral-300">
        <%= Date(Date.now()).toLocaleString() %>
      </div>
    </div>



  </div>

  <script src="../js/showPage.js"></script>